* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 22, 35);
}

.wallet-component__wallet {
    background-color: rgb(33, 31, 42);
    border-radius: 5px;
    color: rgb(136, 218, 9);
    font-size: 25px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
}

.stats-component {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.stat-component {
    align-items: center;
    background-color: rgb(33, 31, 42);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    padding: 15px;
    row-gap: 10px;
}

.stat-component__value {
    color: rgb(200,200,200);
    font-size: 20px;
    text-align: center
}

.stat-component__convertion {
    color: rgb(134, 132, 132);
    font-size: 14px;
    text-align: center
}

.stat-component__title {
    color: rgb(136, 218, 9);
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.spinner-loader {
    animation: spin 1s ease infinite;
    border-radius: 50%;
    border: 4px solid rgb(0,0,0,0.2);
    border-left-color: rgb(136, 218, 9);
    height: 50px;
    width: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 860px) {
    body {
        flex-direction: column;
    }

    .stats-component {
        flex-direction: column;
    }

    .wallet-component__wallet {
        font-size: 15px;
    }
}